<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeromarket.server.api.mapper.chat.ChatMapper">

    <select id="selectChatRoom" resultType="java.lang.Long">
        SELECT
            chat_room_id
        FROM chat_room cr
        WHERE cr.product_id = #{productId}
          AND cr.buyer_id = #{buyerId}
        AND cr.seller_id = #{sellerId}
    </select>

    <insert id="createChatRoom" parameterType="com.zeromarket.server.common.entity.ChatRoom"
        useGeneratedKeys="true"
        keyProperty="chatRoomId"
        keyColumn="chat_room_id">
        INSERT INTO
            chat_room
        (
               product_id,
               buyer_id,
               seller_id,
               product_image
        ) VALUES (
                #{productId},
                #{buyerId},
                #{sellerId},
                #{productImage}
        )
    </insert>

    <insert id="createChatParticipant" >
        INSERT INTO
            chat_room_participant
        (
             chat_room_id,
             member_id,
             deleted_at
        )
        VALUES
        (
             #{chatRoomId},
             #{memberId},
             null
        )
    </insert>

    <insert id="createChatMessage" parameterType="com.zeromarket.server.common.entity.ChatMessage">
        INSERT INTO
            chat_message
        (
            chat_room_id,
            member_id,
            content,
            message_type,
            is_read
        )
        VALUES
        (
             #{chatRoomId},
             #{memberId},
             #{content},
             #{messageType},
             false
        )
    </insert>

    <select id="selectChatMessageByMessageId" resultType="com.zeromarket.server.common.entity.ChatMessage"
        parameterType="Long">
        SELECT message_id,
               chat_room_id,
               member_id,
               content,
               message_type,
               is_read,
               created_at,
               updated_at
        FROM chat_message
        WHERE message_id = #{messageId}
    </select>

    <!--테스트용-->
    <select id="countChatParticipants" resultType="int">
        SELECT COUNT(*)
        FROM chat_room_participant
        WHERE chat_room_id = #{chatRoomId}
          AND deleted_at is null
    </select>

    <select id="selectChatMessages" resultType="com.zeromarket.server.api.dto.chat.ChatMessageResponse">
        SELECT
            message_id,
            chat_room_id,
            member_id,
            content,
            message_type,
            is_read,
            created_at,
            updated_at,
            member_id = #{memberId} as is_mine
        FROM chat_message
        WHERE chat_room_id = #{chatRoomId}
        ORDER BY created_at ASC
    </select>

    <select id="existsParticipant" resultType="boolean">
        SELECT EXISTS(
            SELECT 1
            FROM chat_room_participant cp
                     INNER JOIN chat_room cr
                                ON cp.chat_room_id = cr.chat_room_id
            WHERE cp.chat_room_id = #{chatRoomId}
              AND cp.member_id = #{memberId}
              AND cp.deleted_at IS NULL
              AND cr.is_deleted = false
        )
    </select>

    <select id="selectChatInfo"
        parameterType="long"
        resultType="com.zeromarket.server.api.dto.chat.ChatInfoWithMessageResponse">
        SELECT
            cr.chat_room_id,
            cr.product_id,
            p.product_title,
            p.sell_price,
            /** p.trade_type, **/
            t.trade_status ,
            cr.buyer_id ,
            buyer.profile_image as buyer_profile_image,
            buyer.nickname as buyer_nickname,
            cr.seller_id ,
            seller.profile_image as seller_profile_image,
            seller.nickname as seller_nickname,
            cr.product_image ,
            cr.is_deleted ,
            cr.created_at ,
            cr.updated_at ,
            buyer_part.deleted_at AS buyer_deleted_at,
            seller_part.deleted_at AS seller_deleted_at
        FROM chat_room cr
        INNER JOIN product p ON cr.product_id = p.product_id
        INNER JOIN member buyer ON cr.buyer_id = buyer.member_id
        INNER JOIN member seller ON cr.seller_id = seller.member_id
        LEFT JOIN chat_room_participant buyer_part
                  ON cr.chat_room_id = buyer_part.chat_room_id
                      AND buyer_part.member_id = cr.buyer_id
        LEFT JOIN chat_room_participant seller_part
                  ON cr.chat_room_id = seller_part.chat_room_id
                      AND seller_part.member_id = cr.seller_id
        LEFT JOIN trade t
                  ON cr.product_id = t.product_id
                      AND cr.buyer_id = t.buyer_id
                      AND t.trade_status != 'CANCELED'
                       AND t.trade_id = (
                           SELECT trade_id
                           FROM trade
                           WHERE product_id = cr.product_id
                             AND buyer_id = cr.buyer_id
                             AND trade_status != 'CANCELED'
                           ORDER BY created_at DESC
                           LIMIT 1
                       )
        WHERE cr.chat_room_id = #{chatRoomId}
    </select>

<!--    <select id="selectOrCreateChatRoomByProductIdBuyerId" resultType="long">-->
<!--        WITH product_info AS (-->
<!--            SELECT-->
<!--                p.product_id,-->
<!--                p.seller_id,-->
<!--                (-->
<!--                    SELECT pi.image_url-->
<!--                    FROM product_image pi-->
<!--                    WHERE pi.product_id = p.product_id-->
<!--                    ORDER BY pi.is_main DESC, pi.sort_order ASC-->
<!--                    LIMIT 1-->
<!--        ) AS product_image-->
<!--        FROM product p-->
<!--        WHERE p.product_id = #{productId}-->
<!--            ),-->
<!--            upsert AS (-->
<!--        INSERT INTO chat_room (-->
<!--            product_id,-->
<!--            buyer_id,-->
<!--            seller_id,-->
<!--            product_image-->
<!--        )-->
<!--        SELECT-->
<!--            product_id,-->
<!--            #{buyerId}        AS buyer_id,-->
<!--            seller_id,-->
<!--            product_image-->
<!--        FROM product_info-->
<!--        ON CONFLICT (product_id, buyer_id, seller_id) DO NOTHING-->
<!--            RETURNING chat_room_id-->
<!--            )-->
<!--        SELECT chat_room_id-->
<!--        FROM upsert-->

<!--        UNION ALL-->

<!--        SELECT cr.chat_room_id-->
<!--        FROM chat_room cr-->
<!--                 JOIN product_info pi-->
<!--                      ON cr.product_id = pi.product_id-->
<!--                          AND cr.seller_id = pi.seller_id-->
<!--        WHERE cr.buyer_id = #{buyerId}-->

<!--            LIMIT 1-->
<!--    </select>-->


</mapper>