<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zeromarket.server.api.mapper.trade.TradeHistoryMapper">

    <!-- 거래내역 목록 조회 -->
    <resultMap id="TradeHistoryResponseMap"
               type="com.zeromarket.server.api.dto.trade.TradeHistoryResponse">

        <id     column="product_id"    property="productId"/>

        <result column="trade_id"      property="tradeId"/>
        <result column="buyer_id"      property="buyerId"/>

        <result column="product_title" property="productTitle"/>
        <result column="thumbnail_url" property="thumbnailUrl"/>
        <result column="sell_price"    property="sellPrice"/>

        <result column="trade_type"
                property="tradeType"
                javaType="com.zeromarket.server.common.enums.TradeType"/>
        <result column="trade_status"
                property="tradeStatus"
                javaType="com.zeromarket.server.common.enums.TradeStatus"/>

        <result column="is_direct"     property="isDirect"/>
        <result column="is_delivery"   property="isDelivery"/>

        <result column="is_hidden"     property="isHidden"/>

        <result column="seller_deleted" property="sellerDeleted"/>
        <result column="buyer_deleted"  property="buyerDeleted"/>

        <result column="created_at"    property="createdAt"/>
        <result column="updated_at"    property="updatedAt"/>
        <result column="completed_at"  property="completedAt"/>
        <result column="canceled_at"   property="canceledAt"/>
    </resultMap>

    <insert id="createTrade" parameterType="com.zeromarket.server.common.entity.Trade"
        useGeneratedKeys="true"
        keyProperty="tradeId"
        keyColumn="trade_id">
        INSERT INTO public.trade
        (
         product_id,
         buyer_id,
         trade_type,
         trade_status,
         canceled_by,
         seller_deleted,
         buyer_deleted,
         created_at,
         updated_at,
         completed_at,
         canceled_at)
        VALUES (
                #{productId},
                #{buyerId},
                #{tradeType},
                #{tradeStatus},
                null,
                false,
                false,
                CURRENT_TIMESTAMP,
                CURRENT_TIMESTAMP,
                null,
                null);
    </insert>

    <select id="selectTradeList"
            parameterType="com.zeromarket.server.api.dto.trade.TradeHistoryRequest"
            resultMap="TradeHistoryResponseMap">
        SELECT
            p.product_id,
            t.trade_id,
            t.buyer_id,
            p.product_title,
            pi.image_url AS thumbnail_url,
            p.sell_price,
            t.trade_type,
            t.trade_status,
            p.is_direct,
            p.is_delivery,
            p.is_hidden,
            t.seller_deleted,
            t.buyer_deleted,
            t.created_at,
            t.updated_at,
            t.completed_at,
            t.canceled_at
        FROM trade t

        LEFT JOIN product p
            ON t.product_id = p.product_id

        LEFT JOIN product_image pi
            ON pi.product_id = p.product_id
            AND pi.is_main = TRUE

        WHERE
            p.is_deleted = FALSE
        AND (
                (#{role} = 'SALES'
                    AND p.seller_id = #{memberId})
                    AND COALESCE(t.seller_deleted, FALSE) = FALSE
                OR
                (#{role} = 'PURCHASES'
                    AND t.buyer_id = #{memberId})
                    AND COALESCE(t.buyer_deleted, FALSE) = FALSE
            )

        <if test="keyword != null and keyword != ''">
            AND p.product_title ILIKE CONCAT('%', #{keyword}, '%')
        </if>

        <!-- 숨기기 / 상태 필터 조합 -->
        <choose>
            <!-- 숨기기만 선택-->
            <when test="(isHidden != null and isHidden == true)
                        and (tradeStatus == null or tradeStatus.size() == 0)">
                AND COALESCE(p.is_hidden, FALSE) = TRUE
            </when>

            <!-- 상태들만 선택: 숨김 제외 + 선택한 상태만 -->
            <when test="(isHidden == null or isHidden == false)
                        and (tradeStatus != null and tradeStatus.size() > 0)">
                AND COALESCE(p.is_hidden, FALSE) = FALSE
                AND t.trade_status IN
                <foreach item="ts" collection="tradeStatus" open="(" separator="," close=")">
                    #{ts}
                </foreach>
            </when>

            <!-- 숨기기 + 상태 같이 선택 -->
            <when test="(isHidden != null and isHidden == true)
                        and (tradeStatus != null and tradeStatus.size() > 0)">
                AND (
                    COALESCE(p.is_hidden, FALSE) = TRUE
                    OR t.trade_status IN
                    <foreach item="ts" collection="tradeStatus" open="(" separator="," close=")">
                        #{ts}
                    </foreach>
                    )
            </when>
        </choose>

        <if test="fromDate != null">
            AND COALESCE(t.created_at, p.created_at) >= #{fromDate}
        </if>

        <if test="toDate != null">
            AND COALESCE(t.created_at, p.created_at) &lt; (#{toDate} + 1)
        </if>

        ORDER BY
            COALESCE(t.created_at, p.created_at) DESC

    </select>

    <!-- 거래내역 상세 조회 -->
    <resultMap id="TradeProductResponseMap"
               type="com.zeromarket.server.api.dto.trade.TradeProductResponse">

        <id     column="product_id"    property="productId"/>
        <result column="trade_id"      property="tradeId"/>

        <result column="product_title" property="productTitle"/>
        <result column="thumbnail_url" property="thumbnailUrl"/>
        <result column="sell_price"    property="sellPrice"/>

        <result column="canceled_by"   property="canceledBy"/>
        <result column="seller_id"     property="sellerId"/>
        <result column="buyer_id"      property="buyerId"/>

        <result column="nickname"      property="nickname"/>
        <result column="name"          property="name"/>
        <result column="phone"         property="phone"/>

        <result column="trade_type"
                property="tradeType"
                javaType="com.zeromarket.server.common.enums.TradeType"/>
        <result column="trade_status"
                property="tradeStatus"
                javaType="com.zeromarket.server.common.enums.TradeStatus"/>

        <result column="created_at"    property="createdAt"/>
        <result column="updated_at"    property="updatedAt"/>
        <result column="completed_at"  property="completedAt"/>
        <result column="canceled_at"   property="canceledAt"/>
    </resultMap>

    <select id="selectTradeProduct"
            parameterType="com.zeromarket.server.api.dto.trade.TradeProductRequest"
            resultMap="TradeProductResponseMap">
        SELECT
            t.trade_id,
            p.product_id,
            p.product_title,
            pi.image_url AS thumbnail_url,
            p.sell_price,
            t.canceled_by,
            ms.member_id    AS seller_id,
            mb.member_id    AS buyer_id,
            ms.nickname     AS nickname,
            mb.name         AS name,
            mb.phone        AS phone,
            t.trade_type,
            t.trade_status,
            t.created_at,
            t.updated_at,
            t.completed_at,
            t.canceled_at
        FROM trade t

        JOIN product p
            ON p.product_id = t.product_id
        JOIN member ms
            ON ms.member_id = p.seller_id
        JOIN member mb
            ON mb.member_id = t.buyer_id
        LEFT JOIN product_image pi
            ON pi.product_id = p.product_id
            AND pi.is_main = TRUE
        WHERE t.trade_id = #{tradeId}

    </select>

    <!-- 상태 변경용 단건 조회 -->
    <select id="selectById"
            parameterType="long"
            resultType="com.zeromarket.server.api.dto.trade.TradeStatusUpdateRow">
        SELECT
            t.trade_id       AS tradeId,
            p.product_id     AS productId,
            p.seller_id      AS sellerId,
            t.buyer_id       AS buyerId,
            t.trade_status   AS tradeStatus,
            t.updated_at     AS updatedAt,
            t.completed_at   AS completedAt,
            t.canceled_at    AS canceledAt,
            t.canceled_by    AS canceledBy,
            t.seller_deleted AS sellerDeleted,
            t.buyer_deleted  AS buyerDeleted
        FROM trade t

        JOIN product p
            ON p.product_id = t.product_id

        WHERE t.trade_id = #{tradeId}
    </select>

    <!-- 상태 및 완료 시간 업데이트 -->
    <update id="updateTradeStatus">
        UPDATE trade
            SET trade_status = #{target},
                completed_at = #{completedAt},
                canceled_at  = #{canceledAt},
                canceled_by  = #{canceledBy},
                updated_at   = #{updatedAt}
        WHERE trade_id = #{tradeId}
    </update>

    <!-- 상품 판매 상태 변경 -->
    <update id="updateProductSalesStatus">
        UPDATE product
            SET sales_status = #{salesStatus},
            updated_at   = CURRENT_TIMESTAMP
        WHERE product_id = #{productId}
    </update>

    <!-- seller_deleted / buyer_deleted 소프트 딜리트로 업데이트 -->
    <update id="updateSoftDelete">
        UPDATE trade
            SET seller_deleted = #{sellerDeleted},
                buyer_deleted = #{buyerDeleted},
                updated_at = #{updatedAt}
        WHERE trade_id = #{tradeId}
    </update>

    <resultMap id="TradeReviewInfoMap" type="com.zeromarket.server.api.dto.mypage.TradeReviewInfoDto">
        <id property="tradeId" column="trade_id"/>

        <result property="productId" column="product_id"/>
        <result property="productTitle" column="product_title"/>
        <result property="productImageUrl" column="product_image_url"/>
        <result property="opponentNickname" column="opponent_nickname"/>
    </resultMap>

    <select id="selectTradeInfoForReview"
        parameterType="map"
        resultMap="TradeReviewInfoMap">
        SELECT
        t.trade_id,
        p.product_id,
        p.product_title,

        pi.image_url AS product_image_url,

        CASE
        WHEN #{loginMemberId} = buyer.member_id
        THEN seller.nickname
        ELSE buyer.nickname
        END AS opponent_nickname

        FROM trade t
        JOIN product p
        ON t.product_id = p.product_id
        LEFT JOIN product_image pi
        ON p.product_id = pi.product_id
        AND pi.is_main = TRUE
        JOIN member seller
        ON p.seller_id = seller.member_id
        JOIN member buyer
        ON t.buyer_id = buyer.member_id

        WHERE t.trade_id = #{tradeId}
        AND t.trade_status = 'COMPLETED'
        AND p.is_deleted = FALSE
    </select>

    <resultMap id="TradeStatusMap" type="map">
        <result column="sellerId" property="sellerId" javaType="java.lang.Long"/>
        <result column="buyerId" property="buyerId" javaType="java.lang.Long"/>

        <result column="tradeStatus"
            property="tradeStatus"
            javaType="com.zeromarket.server.common.enums.TradeStatus"
            typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
    </resultMap>

    <select id="selectSellerBuyerStatusByTradeId"
        parameterType="long"
        resultMap="TradeStatusMap">
        SELECT seller.member_id AS sellerId,
            t.buyer_id AS buyerId,
            t.trade_status AS tradeStatus
        FROM trade t
        JOIN product p ON t.product_id = p.product_id
        JOIN member seller ON p.seller_id = seller.member_id
        WHERE t.trade_id = #{tradeId}
    </select>

    <select id="existValidTradeByProductIdSellerId" resultType="com.zeromarket.server.common.entity.Trade">
        SELECT
            t.trade_id,
            t.trade_status
        FROM
            trade t
        INNER JOIN product p on t.product_id = p.product_id
        WHERE
            t.product_id = #{productId}
        AND t.buyer_id = #{buyerId}
        AND p.seller_id = #{sellerId}
        AND t.canceled_at is null
    </select>

    <select id="existValidProcessingTradeByProductIdSellerId"
            resultType="com.zeromarket.server.common.entity.Trade">
        SELECT
            t.trade_id,
            t.trade_status
        FROM
            trade t
                INNER JOIN product p on t.product_id = p.product_id
        WHERE
            t.product_id = #{productId}
          AND t.buyer_id != #{buyerId}
          AND p.seller_id = #{sellerId}
          AND t.trade_status != 'CANCELED'
          AND t.canceled_at is null

    </select>

<!--    <insert id="insertTrade" useGeneratedKeys="true" keyProperty="tradeId">-->
<!--        INSERT INTO trade (-->
<!--            product_id,-->
<!--            buyer_id,-->
<!--            trade_type,-->
<!--            trade_status-->
<!--        )-->
<!--        VALUES (-->
<!--            #{productId},-->
<!--            #{buyerId},-->
<!--            #{tradeType},-->
<!--            'PENDING'-->
<!--        )-->
<!--    </insert>-->

<!--    <update id="updateTradeStatus">-->
<!--        UPDATE trade-->
<!--        SET trade_status = #{status},-->
<!--        updated_at = CURRENT_TIMESTAMP-->
<!--        WHERE trade_id = #{tradeId}-->
<!--    </update>-->
</mapper>