<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeromarket.server.api.mapper.CategoryQueryMapper">

  <!-- level1 -->
  <select id="getLevel1" resultType="com.zeromarket.server.api.dto.CategoryLevel1">
    SELECT
    level1_id AS id,
    level1_name AS name
    FROM category_level1
    ORDER BY level1_id ASC
  </select>

  <!-- level2 -->
  <select id="getLevel2" parameterType="long"
    resultType="com.zeromarket.server.api.dto.CategoryLevel2">
    SELECT
    level2_id AS id,
    level2_name AS name
    FROM category_level2
    WHERE parent_id = #{parentId}
    ORDER BY level2_id ASC
  </select>

  <!-- level3 -->
  <select id="getLevel3" parameterType="long"
    resultType="com.zeromarket.server.api.dto.CategoryLevel3">
    SELECT
    level3_id AS id,
    level3_name AS name
    FROM category_level3
    WHERE parent_id = #{parentId}
    ORDER BY level3_id ASC
  </select>

</mapper>
