<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zeromarket.server.api.mapper.MemberMapper">

  <!-- 회원 생성 -->
  <insert id="insertMember" parameterType="com.zeromarket.server.common.entity.Member"
    useGeneratedKeys="true" keyProperty="memberId" keyColumn="member_id">
    INSERT INTO member (
        login_id,
        password,
        role,
        name,
        nickname,
        phone,
        email
    ) VALUES (
        #{loginId},
        #{password},
        #{role},
        #{name},
        #{nickname},
        #{phone},
        #{email}
    )
  </insert>

  <!-- 회원 조회 -->
  <select id="selectMemberById" resultType="com.zeromarket.server.common.entity.Member">
    SELECT * FROM member
    WHERE member_id = #{memberId}
    AND withdrawn_at IS NULL
  </select>

  <select id="selectMemberByLoginId" resultType="com.zeromarket.server.common.entity.Member">
    SELECT * FROM member
    WHERE login_id = #{loginId}
    AND withdrawn_at IS NULL
  </select>

  <!-- 중복 체크 -->
  <select id="existsByLoginId" resultType="boolean">
    SELECT COUNT(*) > 0
    FROM member
    WHERE login_id = #{loginId}
    AND withdrawn_at IS NULL
  </select>

    <select id="existsByNickname" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM member
        WHERE nickname = #{nickname}
        AND withdrawn_at IS NULL
    </select>

    <select id="existsByPhone" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM member
        WHERE phone = #{phone}
        AND withdrawn_at IS NULL
    </select>

    <select id="existsByEmail" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM member
        WHERE email = #{email}
        AND withdrawn_at IS NULL
    </select>

</mapper>