<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeromarket.server.api.mapper.ProductQueryMapper">

    <select id="selectProductsCursor"
            resultType="com.zeromarket.server.api.dto.ProductQueryResponse">
        SELECT
            p.product_id,
            p.product_title,
            p.sell_price,
            p.selling_area,
            p.sales_status,
            p.product_status,
            p.is_delivery,
            p.is_direct,
            p.created_at,

            COALESCE(wc.wish_count, 0) AS wish_count,
            pi.image_url AS thumbnail_url

        FROM product p

        LEFT JOIN (
            SELECT product_id, COUNT(product_id) AS wish_count
            FROM wish
            WHERE is_deleted = false
            GROUP BY product_id
        ) wc ON wc.product_id = p.product_id

        LEFT JOIN product_image pi
            ON pi.product_id = p.product_id
            AND pi.is_main = true

        WHERE p.is_hidden = false
            AND p.is_deleted = false
            AND p.sales_status != 'SOLD_OUT'

        <if test="keyword != null and keyword != ''">
            AND p.product_title ILIKE CONCAT('%', #{keyword}, '%')
        </if>

        <if test="cursor != null">
            AND p.product_id &lt; #{cursor}
        </if>

        <choose>
            <when test="sort == 'popularity'">
                ORDER BY
                wish_count DESC,
                p.created_at DESC,
                p.product_id DESC
                LIMIT #{size}
            </when>

            <when test="sort == 'latest'">
                ORDER BY
                p.created_at DESC,
                p.product_id DESC
                LIMIT #{size}
            </when>

            <when test="sort == 'priceAsc'">
                ORDER BY
                p.sell_price ASC,
                p.created_at DESC,
                p.product_id DESC
                LIMIT #{size}
            </when>

            <when test="sort == 'priceDesc'">
                ORDER BY
                p.sell_price DESC,
                p.created_at DESC,
                p.product_id DESC
                LIMIT #{size}
            </when>
            <otherwise>
                ORDER BY
                wish_count DESC,
                p.created_at DESC,
                p.product_id DESC
                LIMIT #{size}
            </otherwise>
        </choose>
    </select>

    <select id="selectProductDetail" parameterType="java.lang.Long" resultType="com.zeromarket.server.api.dto.ProductDetailResponse">
      SELECT
      p.product_id AS productId,
      p.seller_id AS sellerId,
<!--      p.level1_id AS categoryDepth1,-->
<!--      p.level2_id AS categoryDepth2,-->
      p.level3_id AS categoryDepth3,
      p.product_title AS productTitle,
      p.description AS productDescription,
      p.sell_price AS sellPrice,
      p.created_at AS createdAt,
      p.is_delivery AS isDelivery,
      p.is_direct AS isDirect,
      p.selling_area AS sellingArea,
      p.view_count AS viewCount,
      p.sales_status AS salesStatus,
      p.product_status AS productStatus,
      p.is_hidden AS isHidden,
      p.is_deleted AS isDeleted,
      m.member_id AS sellerId,
      m.nickname AS sellerNickName,
      m.introduction AS sellerIntroduction

      FROM product p
      LEFT JOIN member m ON m.member_id = p.seller_id
      WHERE p.product_id = #{productId}
        AND p.is_deleted = false
        AND p.is_hidden = false
    </select>

    <select id="selectProductImages" parameterType="java.lang.Long" resultType="com.zeromarket.server.api.dto.ProductDetailImageInfo">
      SELECT
      image_id AS imageId,
      image_url AS imageUrl,
      is_main AS isMain,
      sort_order AS sortOrder
      FROM product_image
      WHERE product_id = #{productId}
      ORDER BY sort_order ASC

    </select>
  <select id="selectProductSeller" parameterType="java.lang.Long" resultType="com.zeromarket.server.api.dto.ProductDetailSellerInfo">
    SELECT
    m.member_id AS sellerId,
    m.nickname AS sellerNickName,
    m.introduction AS sellerIntroduction
    FROM member m
    WHERE m.member_id = #{memberId}

  </select>


</mapper>