spring:
  config:
    activate:
      on-profile: local

app:
  cors:
    allowed-origins: "http://localhost:5173,http://localhost:5174,http://localhost:5175,http://localhost:5176"

oauth:
  kakao:
    redirect-uri: "http://localhost:5173/oauth/kakao/callback"
