spring:
  config:
    activate:
      on-profile: prod

app:
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS}
  cookie:
    secure: true
    same-site: None

oauth:
  kakao:
    redirect-uri: ${KAKAO_REDIRECT_URI}
    