<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zeromarket.server.api.mapper.block.BlockMapper">

    <resultMap id="BlockUserListMap" type="com.zeromarket.server.api.dto.block.BlockListUser">
        <id column="block_id" property="blockId"/>
        <result column="blocked_user_id" property="blockedUserId"/>
        <result column="profile_image" property="profileImage"/>
        <result column="blocked_user_nickname" property="blockedUserNickname"/>
        <result column="is_active" property="isActive"/>
    </resultMap>

    <!-- 차단 요청자(로그인한 사람) 닉네임 용 -->
    <select id="selectBlockerNickname" parameterType="long" resultType="string">
        SELECT nickname
        FROM member
        WHERE member_id = #{memberId}
    </select>

    <!-- 차단한 수 -->
    <select id="countBlockedUsers" parameterType="long" resultType="int">
        SELECT COUNT(block_id)
        FROM block
        WHERE blocker_user_id = #{memberId}
            AND is_active = true
    </select>

    <!-- 차단한 유저 목록 -->
    <select id="selectBlockedUsers" parameterType="long" resultMap="BlockUserListMap">
        SELECT
            b.block_id,
            b.blocked_user_id,
            m.profile_image,
            m.nickname AS blocked_user_nickname,
            b.is_active
        FROM block b
        JOIN member m ON m.member_id = b.blocked_user_id
        WHERE b.blocker_user_id = #{memberId}
            AND b.is_active = true
        <!-- created_at이랑 updated_at 둘이 다를 경우, updated_at을 기준으로 최신 기준 -->
        ORDER BY b.updated_at DESC NULLS LAST, b.created_at DESC
    </select>

    <!-- 셀러샵에서 해당 유저가 차단한 사람인지 boolean 체크 -->
    <select id="selectIsBlocked" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM block
            WHERE blocker_user_id = #{memberId}
                AND blocked_user_id = #{targetId}
                AND is_active = true
        )
    </select>

    <!-- 차단 등록하는 과정. isActive 된 부분 확인 -->
    <select id="selectBlockIsActive" resultType="boolean">
        SELECT is_active
        FROM block
        WHERE blocker_user_id = #{memberId}
            AND blocked_user_id = #{blockedUserId}
    </select>

    <!-- 차단 할때 해당 blockId 있는지 확인 -->
    <select id="selectBlockId" resultType="long">
        SELECT block_id
        FROM block
        WHERE blocker_user_id = #{memberId}
            AND blocked_user_id = #{blockedUserId}
    </select>

    <!-- 처음 차단. 행이 없으면 INSERT -->
    <insert id="insertBlock">
        INSERT INTO block (
            blocker_user_id,
            blocked_user_id,
            is_active,
            created_at,
            updated_at
        )
        VALUES (
            #{memberId},
            #{blockedUserId},
            TRUE,
            CURRENT_TIMESTAMP,
            CURRENT_TIMESTAMP
        )
    </insert>

    <!-- 재차단 할 때 -->
    <update id="reactivateBlock">
        UPDATE block
        SET is_active = true,
            updated_at = CURRENT_TIMESTAMP
        WHERE blocker_user_id = #{memberId}
            AND blocked_user_id = #{blockedUserId}
    </update>

    <!-- 차단 해제 할 때 -->
    <update id="updateUnblock">
        UPDATE block
            SET is_active = false,
                updated_at = CURRENT_TIMESTAMP
        WHERE block_id = #{blockId}
            AND blocker_user_id = #{memberId}
            AND is_active = true
    </update>

</mapper>
