<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeromarket.server.api.mapper.product.AreaQueryMapper">

  <select id="getEupmyeondongIdByLegalCode" resultType="Long">
    SELECT eupmyeondong_id
    FROM eupmyeondong_areas
    WHERE eupmyeondong_code = #{code}
    LIMIT 1
  </select>

</mapper>
