<?xml version="1.0" encoding="UTF-8"?>
<!--자주 쓰는 문구-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeromarket.server.api.mapper.product.ProductCustomTextMapper">

    <!--목록 불러오기-->
    <select id="findProductCustomTexts"
                resultType="com.zeromarket.server.api.dto.product.ProductCustomTextResponse">

        SELECT
        custom_text_id AS id,
        custom_content AS text
        FROM custom_text
        WHERE member_id = #{memberId}
        AND content_type = #{contentType}
        AND deleted_at IS NULL
        ORDER BY sort_order NULLS LAST, created_at DESC

    </select>

    <!--문구 등록하기-->
    <insert id="insertProductCustomText">
        INSERT INTO custom_text
        (
            member_id,
            content_type,
            custom_content,
            created_at
        )
        VALUES
            (
                #{memberId},
                #{contentType},
                #{text},
                NOW()
            )
    </insert>

    <!--삭제하기-->
    <update id="softDeleteProductCustomText">
        UPDATE custom_text
        SET deleted_at = NOW()
        WHERE custom_text_id = #{id}
          AND member_id = #{memberId}
          AND deleted_at IS NULL
    </update>

    <!--수정하기-->
    <update id="updateProductCustomText">
        UPDATE custom_text
        SET
            custom_content = #{text},
            updated_at = NOW()
        WHERE custom_text_id = #{id}
          AND member_id = #{memberId}
          AND deleted_at IS NULL
    </update>
</mapper>