<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeromarket.server.api.mapper.mypage.ProductMapper">

    <!--  셀러샵 - 판매상품 목록 조회  -->
    <select id="selectProductsBySellerCursor"
        parameterType="map"
        resultType="com.zeromarket.server.api.dto.product.ProductQueryResponse">

        SELECT
            p.product_id,
            p.product_title,
            p.sell_price,
            p.sales_status,
            p.created_at,
            p.is_delivery,
            p.is_direct,

            COALESCE(wc.wish_count, 0) AS wish_count,

            CASE
<!--                 jdbcType=BIGINT 추가 > null일 때의 타입 명시 -->
                WHEN #{loginMemberId, jdbcType=BIGINT} IS NOT NULL AND EXISTS (
<!--                WHEN #{loginMemberId} IS NOT NULL AND EXISTS (-->
                    SELECT 1
                    FROM wish w
                    WHERE w.product_id = p.product_id
                        AND w.member_id = #{loginMemberId}
                        AND w.is_deleted = FALSE
                ) THEN TRUE
                ELSE FALSE
            END AS is_wished,

            pi.image_url AS thumbnail_url

        FROM product p
        LEFT JOIN (
            SELECT
                product_id,
                COUNT(*) AS wish_count
            FROM wish
            WHERE is_deleted = FALSE
            GROUP BY product_id
            ) wc ON wc.product_id = p.product_id

        LEFT JOIN product_image pi
        ON pi.product_id = p.product_id
            AND pi.is_main = TRUE

        WHERE p.seller_id = #{sellerId}
            AND p.is_deleted = FALSE
            AND p.is_hidden = FALSE
            AND p.sales_status IN ('FOR_SALE', 'RESERVED')

        <if test="cursorCreatedAt != null">
            AND (
                p.created_at &lt; #{cursorCreatedAt}
                OR (
                    p.created_at = #{cursorCreatedAt}
                    AND p.product_id &lt; #{cursorProductId}
                )
            )
        </if>

        ORDER BY p.created_at DESC, p.product_id DESC
        LIMIT #{size}
    </select>

</mapper>