<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zeromarket.server.api.mapper.mypage.WishMapper">

    <select id="findWish" resultType="com.zeromarket.server.common.entity.Wish">
        SELECT *
        FROM wish
        WHERE member_id = #{memberId}
        AND product_id = #{productId}
    </select>

    <insert id="insertWish"
        parameterType="com.zeromarket.server.common.entity.Wish"
        useGeneratedKeys="true"
        keyProperty="wishId"
        keyColumn="wish_id">
        INSERT INTO wish (member_id, product_id, is_deleted)
        VALUES (#{memberId}, #{productId}, false)
    </insert>

    <update id="restoreWish">
        UPDATE wish
        SET is_deleted = false,
        updated_at = CURRENT_TIMESTAMP
        WHERE wish_id = #{wishId}
    </update>

    <update id="softDeleteWish">
        UPDATE wish
        SET is_deleted = true,
        updated_at = CURRENT_TIMESTAMP
        WHERE wish_id = #{wishId}
    </update>

    <!-- 특정 회원이 특정 상품 찜했는지 -->
    <select id="isWished" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM wish
        WHERE member_id = #{memberId}
        AND product_id = #{productId}
        AND is_deleted = false
    </select>

    <!-- 내 찜 목록 product_id 리스트 조회 -->
    <select id="findWishProductIds" resultType="long">
        SELECT product_id
        FROM wish
        WHERE member_id = #{memberId}
        AND is_deleted = false
        ORDER BY updated_at DESC
        LIMIT #{size}
        OFFSET #{offset}
    </select>

    <!-- 찜 목록용 상품 정보: 상품 요약 조회-->
    <select id="selectProductSummary"
        parameterType="long"
        resultType="com.zeromarket.server.api.dto.mypage.WishProductResponse">

        SELECT
        p.product_id,
        p.product_title,
        p.sell_price,
        p.sales_status,
        p.product_status,

        (SELECT pi.image_url
        FROM product_image pi
        WHERE pi.product_id = p.product_id
        ORDER BY pi.is_main DESC, pi.sort_order ASC
        LIMIT 1) AS thumbnail_url,

        p.created_at

        FROM product p
        WHERE p.product_id = #{productId}
        AND p.is_deleted = false
        AND p.is_hidden = false;
    </select>

</mapper>
