<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zeromarket.server.api.mapper.auth.MemberMapper">

  <!-- 회원 생성 -->
  <insert id="insertMember" parameterType="com.zeromarket.server.common.entity.Member"
    useGeneratedKeys="true" keyProperty="memberId" keyColumn="member_id">
    INSERT INTO member (
        login_id,
        password,
        role,
        name,
        nickname,
        phone,
        email
    ) VALUES (
        #{loginId},
        #{password},
        #{role},
        #{name},
        #{nickname},
        #{phone},
        #{email}
    )
  </insert>

  <!-- 회원 조회 -->
  <select id="selectMemberById" resultType="com.zeromarket.server.common.entity.Member">
    SELECT *
    FROM member
    WHERE member_id = #{memberId}
        AND withdrawn_at IS NULL
  </select>

  <select id="selectMemberByLoginId" resultType="com.zeromarket.server.common.entity.Member">
    SELECT *
    FROM member
    WHERE login_id = #{loginId}
        AND withdrawn_at IS NULL
  </select>

  <!-- 중복 체크 -->
  <select id="existsByLoginId" resultType="boolean">
    SELECT COUNT(*) > 0
    FROM member
    WHERE login_id = #{loginId}
    AND withdrawn_at IS NULL
  </select>

    <!-- 회원 프로필 조회 -->
    <select id="selectMemberProfile" resultType="com.zeromarket.server.api.dto.auth.MemberProfileDto">
        SELECT
            m.member_id AS memberId,
            m.nickname AS nickname,
            m.profile_image AS profileImage,
            m.introduction AS description
        FROM member m
        WHERE m.member_id = #{memberId}
            AND m.withdrawn_at IS NULL
    </select>

    <select id="existsByNickname" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM member
        WHERE nickname = #{nickname}
        AND withdrawn_at IS NULL
    </select>

    <select id="existsByPhone" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM member
        WHERE phone = #{phone}
        AND withdrawn_at IS NULL
    </select>

    <select id="existsByEmail" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM member
        WHERE email = #{email}
        AND withdrawn_at IS NULL
    </select>

    <select id="existsByNicknameExcludingMe" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM member
        WHERE nickname = #{nickname}
        AND member_id != #{memberId}
        AND withdrawn_at IS NULL
    </select>

    <!--  OAuth 카카오  -->
    <select id="findBySocialId" resultType="com.zeromarket.server.common.entity.Member">
        SELECT
            member_id,
            email,
            nickname,
            social_id,
            role
        FROM member
        WHERE social_id = #{socialId}
    </select>

    <insert id="insertSocialMember" useGeneratedKeys="true" keyProperty="memberId">
        INSERT INTO member (
            nickname,
            social_id,
            role,
            profile_image,
            login_id,
            password
        ) VALUES (
            #{nickname},
            #{socialId},
            #{role},
            #{profileImage},
            #{loginId},
            #{password}
        )
    </insert>
</mapper>